<footer><div id="footer" class="footer jumbotron jumbotron-fluid text-center">
<div class="container">
	<p class="text-muted">This is just a project. We do not claim copyright of articles or photos posted on this website. </p>
	
</div>
	</div></footer>
<script type="text/javascript" src="/blg.js"></script>
</body>
</html>