<%-include("partials/header")%>
<div class="container-fluid login ">
	<div class="row">
		<div class="col-12 col-md-4  offset-md-4">
	
<h1 class="p-2 mb-2 bg-dark text-white rounded">Log In</h1>

<form action="/login" method="POST"><div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="username">
    <input type="password" name="password"class="form-control" placeholder="password"></div>
    <button class="btn btn-dark">Log In</button>
</form>
			
		</div>
</div>
</div>
<%-include("partials/footer")%>